.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: pink !important;
  cursor: pointer;
}
.navv-link:hover, .navv-link:focus {
  text-decoration: none;
  color: pink !important;
  cursor: pointer;
}
.navv-link{
  letter-spacing:0.5px;
  font-weight:bold;
  font-family:'JF-Flat';
  font-size:1.0rem

}

.nav-link {
color:white !important;
}

.btn-secondary:hover {
  text-decoration: none;
  color: black !important;
  background:pink !important

}
.avatar{
  max-height: 50px;
  display: inline;
  border: 2px solid white;
  border-radius: 50px;


}
